body {
    background-image: linear-gradient(to bottom, beige, bisque, rgb(212, 191, 158));
}

h1 {
    font-weight: bold;
    color: darkblue;
}

header {
    border-width: 4px;
    border-color: black;
}

p{
    font-style: italic;
}