body {
    background-image: linear-gradient(to bottom, beige, bisque, rgb(212, 191, 158));
}

h1 {
    font-weight: bold;
    color: darkblue;
}

article {
    border: 4px, solid, black;
    padding: 150px;
    margin: 50%;
}

p{
    font-style: italic;
}